// scss/_base.scss
body {
    color: #333333; // Usamos el color directo para evitar errores de variables
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    line-height: 1.6;
}

h1 {
    font-size: 2.5rem; // Tamaño más equilibrado
    font-weight: 800;
    color: #004481; // Azul oscuro WePaay
}

// Esto asegura que las imágenes de productos no se descontrolen
img {
    max-width: 100%;
    height: auto;
}
img {
    image-rendering: -webkit-optimize-contrast; // Para Chrome/Safari
    image-rendering: crisp-edges;
    font-smoothing: antialiased; // Mejora indirectamente la visual
}