// 1. VARIABLES (Identidad BBVA/Openpay)
$color-primario: #004481;   // Azul BBVA
$color-celeste: #00a9e0;    // Celeste Openpay
$color-blanco: #ffffff;

// 2. ESTILOS GENERALES
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// 3. CORRECCIÓN DE IMÁGENES (Esto arregla la desproporción)
img {
    max-width: 100%;
    height: auto;
}

// Achicamos el logo del Menú
.nav-logo {
    height: 40px; 
    width: auto;
}

// Achicamos el logo gigante del Hero (el de la línea 46)
.hero-img-size {
    max-width: 350px !important; // Esto evita que ocupe toda la pantalla
    height: auto;
}

// Achicamos las imágenes de los productos (SmartPos, Link, etc)
.img-product {
    height: 120px;
    width: auto;
    object-fit: contain;
    margin-bottom: 15px;
}

// 4. HEADER (Colores institucionales)
header {
    background-color: $color-blanco;
    border-bottom: 3px solid $color-primario;
    
    .text-primary-wepaay {
        color: $color-primario !important;
    }
    
    .btn-ingresar {
        background-color: $color-primario;
        border: none;
        &:hover {
            background-color: $color-celeste;
        }
    }
}