// VARIABLES
$azul-bbva: #004481;

// 1. REGLA MAESTRA PARA IMÁGENES
img {
    max-width: 100%;
    height: auto;
}

// 2. EL "FRENO" PARA EL LOGO GIGANTE DEL INDEX
.hero-img-size {
    max-width: 300px !important; // Esto achica la imagen gigante
    width: 100%;
    display: block;
    margin: 0 auto;
}

// 3. LOGO DEL MENÚ
.nav-logo {
    height: 45px;
    width: auto;
}

// 4. HEADER
header {
    border-bottom: 3px solid $azul-bbva;
}